# Virtual Environment
tf_env/
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# Reports
reports/*.pdf

# Streamlit cache
.streamlit/cache/

# OS files
.DS_Store
Thumbs.db
# Temporary / Training files
deep_learning/data/*.npy
deep_learning/results/
deep_learning/models/*.pth
data/check_dataset.py
dashboard/dashboard_old.py.py